<h1><%= @user.prefered_name %>'s activities</h1>

<table class="table table-striped table-bordered">
  <tr>
    <td>Date</td>
    <td>KMS</td>
  </tr>  
  <%@activities.each do |a|%>
    <tr>
      <td><%= a.date %></td>
      <td><%= a.value %></td>
    </tr>  
  <%end%>
</table>